    /* Input text (text field) */
    $colorCorporateBlack: #000000;    
    /* Body text, secondary action icon */
    $colorCorporateDarkGrey: #525556;    
    /* Labels (text field)
    Inactive text */
    $colorCorporateGrey: #a0a5a9;    
    /* Stroke
    Disabled button
    Disabled filters */
    $colorCorporateLightGrey: #cfd1d3;    
    /* Headline, title, subtitle
    Toast bar, snack bar */
    $colorCorporateSicpaBlue: #033b5a;    
    /* Error (label, KPI, icon, ...) */
    $colorCorporateRedPink: #e3004a;    
    /* Corporate color */
    $colorCorporateMentholBlue: #6a9f9c;    
    /* Tab bar
    Screen background
    Text field container */
    $colorCorporateCloudGrey: #f6f6f7;    
    /* Corporate color */
    $colorCorporateBlueGrey: #c5d3d7;    
    /* Navigation bar background */
    $colorCorporateDarkBlue: #072f47;    
    /* Corporate color */
    $colorCorporateMediumBlue: #084466;    
    /* Primary button
    Action text
    Action link
    Primary action icon
    Focused text field
    Selected tab */
    $colorCorporatePrimaryBlue: #0087c8;    
    /* Alert (label, KPI, icon, ...) */
    $colorCorporateOrange: #f38a00;    
    /* Valid (label, KPI, icon, ...) */
    $colorCorporateGreen: #77bc1f;    
    /* Corporate color */
    $colorCorporateBeige: #c9b981;    
    /* Corporate color */
    $colorCorporateDarkBrown: #494037;    
    $color00Primary900: #033b5a;    
    $color00Primary800: #184c65;    
    $color00Primary700: #275f7b;    
    $color00Primary600: #367392;    
    $color00Primary500: #4482a4;    
    $color00Primary400: #5f95b5;    
    $color00Primary300: #79a9c7;    
    $color00Primary200: #99c3dd;    
    $color00Primary100: #b7ddf3;    
    $color00Primary50: #d8f3ff;    
    $color01Secondary900: #005592;    
    $color01Secondary800: #0074b4;    
    $color01Secondary700: #0087c8;    
    $color01Secondary600: #0598dc;    
    $color01Secondary500: #09a6ea;    
    $color01Secondary400: #2cb3ed;    
    $color01Secondary300: #50c0ef;    
    $color01Secondary200: #81d2f4;    
    $color01Secondary100: #b2e4f9;    
    $color01Secondary50: #e1f5fd;    
    $color03OnPrimaryMediumEmphasis: #ffffffbd;    
    $color03OnPrimaryDisabled: #ffffff61;    
    $color04OnSecondaryHighEmphasis: #ffffff;    
    $color04OnSecondaryMediumEmphasis: #ffffffbd;    
    $color04OnSecondaryDisabled: #ffffff61;    
    $color04BackgroundDefault: #f6f6f7de;    
    $color05OnBackgroundDefault: #525556;    
    $color06SurfaceDefault: #ffffff;    
    $color07OnSurfaceHighEmphasis: #000000de;    
    $color07OnSurfaceMediumEmphasis: #00000099;    
    $color07OnSurfaceDisabled: #00000061;    
    $color08SemanticError: #e3004a;    
    $color08SemanticOnError: #ffffff;    
    $color03OnPrimaryHighEmphasis: #ffffff;    
    $color07OnSurfaceOutline: #0000001f;    
    $color10StatesBlackHover: #0000000a;    
    $color10StatesBlackFocused: #0000001f;    
    $color10StatesBlackPressed: #0000001a;    
