    $shadow01Dp: 0px 1px  3px   0px    #00000033;    
    $shadow01Dp2: 0px 2px  1px   0px    #0000001f;    
    $shadow01Dp3: 0px 1px  1px   0px    #00000024;    
    $shadow24Dp: 0px 11px  15px   0px    #00000033;    
    $shadow24Dp2: 0px 9px  46px   0px    #0000001f;    
    $shadow24Dp3: 0px 24px  38px   0px    #00000024;    
    $shadow02Dp: 0px 1px  5px   0px    #00000033;    
    $shadow02Dp2: 0px 3px  1px   0px    #0000001f;    
    $shadow02Dp3: 0px 2px  2px   0px    #00000024;    
    $shadow08Dp: 0px 5px  5px   0px    #00000033;    
    $shadow08Dp2: 0px 3px  14px   0px    #0000001f;    
    $shadow08Dp3: 0px 8px  10px   0px    #00000024;    
