$shadow01Dp: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);  
$shadow24Dp: 0 24px 38px 0 rgba(0,0,0,0.14), 0 9px 46px 0 rgba(0,0,0,0.12), 0 11px 15px 0 rgba(0,0,0,0.2);  
$shadow02Dp: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
$shadow08Dp: 0 8px 10px 0 rgba(0,0,0,0.14), 0 3px 14px 0 rgba(0,0,0,0.12), 0 5px 5px 0 rgba(0,0,0,0.2);  
$shadow04Dp: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.2);  
