
.typographyWebWebFont1Mixin 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebFont2Mixin 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebFont3Mixin 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebFont4Mixin 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebXxlargeClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebXlargeClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebLargeClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebMediumClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebDefaultClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebSmallClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyWebWebTinyClass 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidHeading1 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidHeading2 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidHeading3 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidHeading4 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidHeading5 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidHeading6 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidBody1 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidBody2 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidCaption 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAndroidAndroidOverline 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading1 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading2 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading3 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading4 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading5 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading6 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosHeading7 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosBody1 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosBody2 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosCaption 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyIosIosOverline 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMaterialIconsMedium 
 {
  
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebHeadline1 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 112px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebHeadline2 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebHeadline3 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebHeadline4 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebHeadline5 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebHeadline6 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebSubtitle1 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebSubtitle2 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebBody1 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebBody2 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebButton 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebCaption 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyMajorSecondHeadline1 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28.829999923706055px;
  line-height: 37px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondHeadline2 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25.6299991607666px;
  line-height: 33.31999969482422px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondHeadline3 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22.780000686645508px;
  line-height: 29.610000610351562px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondHeadline4 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20.25px;
  line-height: 26.329999923706055px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondHeadline5 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.399999618530273px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondHeadline6 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.799999237060547px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondSubtitle1 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.799999237060547px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondSubtitle2 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.489999771118164px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondBody1 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.799999237060547px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondBody2 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.489999771118164px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondCaption 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12.640000343322754px;
  line-height: 16.43000030517578px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondOverline 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12.640000343322754px;
  line-height: 16.43000030517578px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMajorSecondButton 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.799999237060547px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMaterialDesignWebOverline 
 {
  
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing:  
  0.15em;
  text-indent: 0px;
  
}    

